

.label{
    text-align: center;
    align-items: center;
    color:black;
    display: flex;
    padding: 8px;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 600;
    text-decoration:underline;
    padding-top: 25px;
    padding-bottom: 10px;
}

.recipe-card{
    text-align: center;
    align-items: center;
    padding: 8px;
}

.word{
    text-align: center;
    align-items: center;
    font-family: "Playfair Display";
    font-size: 40px;
    text-decoration: underline double;
    padding: 8px;
}

.time{
    text-align: center;
    align-items: center;
    font-family: "Playfair Display";
    font-size: 15px;
    padding-top: 8px;
}

.list{
    list-style-type: none;
    text-align: justify;
    font-family: "Playfair Display";
}

