

.label{
    text-align: center;
    align-items: center;
    color:black;
    display: flex;
    padding: 8px;
    font-size: 25px;
    font-family: "Poppins";
    font-weight: 600;
    text-decoration:underline;
    padding-top: 25px;
    padding-bottom: 10px;
}

.recipe-card{
    text-align: center;
    align-items: center;
}

.title{
    text-align: center;
    align-items: center;
}

.time{
    text-align: center;
    align-items: center;
}

.list{
    text-align: center;
    align-items: center;
}

